:root {
  --item-grid-width: 15rem;
}

.images--container {
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(auto-fit, var(--item-grid-width));
  list-style-type: none;
  padding: 0;
}

.images--item {
  text-overflow: ellipsis;
  overflow: hidden;
}

